/* Reset */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

/* Container */
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Left Panel */
.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
  z-index: 2; /* Make sure left panel is above right panel */
  transition: width 0.1s;
}

/* Right Panel */
.right {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background: #f4f4f4;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1; /* Right panel below left */
}

/* Divider */
.divider {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  background: white;
  cursor: ew-resize;
  z-index: 3; /* Divider on top */
}
